{% extends "base.html" %}

{# TODO: I don't understand why I have to load it again =/ #}
{% load datetime_duration %}
{% load staticfiles %}

{% block content %}
<div class="page-header">
  <h1>Team Summary</h1>
</div>
<div class="row">
  <div class="col-sm-12">
    <h3> Total Miles Ridden: {{ total_miles }} </h3>
    <h3> Total Time Ridden: {{ total_time|timedelta }} </h3>
  </div>
</div>

<style>

  .thumbnail {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    display: block;
    margin: auto;
  }

  .rider-info {
    text-align: center;
    font-size: 200%;
  }

  .rider-info p {
    margin-top: 10px;
  }


</style>

<div>
<h1> Riders </h1>
<hr />
</div>
{% for rider in riders %}
{% if forloop.counter|divisibleby:3 %}
<div class="row">
  {% endif %}
  <div>
    <div class="col-sm-4 rider-info">
      <a href={% url 'dashboard:dashboard' rider.pk %}><img class="thumbnail" src={% static "dashboard/pic.jpg" %}></img> </a>
      <p> <a href={% url 'dashboard:dashboard' rider.pk %}> {{ rider.get_full_name }}</a> </p>
      <p> {{ rider.total_miles }} </p>
      <p> {{ rider.total_time|timedelta}} </p>
    </div>
  </div>
{% if forloop.counter|divisibleby:3 %}
</div> <br /> <br />
{% endif %}
{% endfor %}
{% endblock %}
